.background {
  width: 1600px;
  height: 1500px;
  background-image: url(https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAxODA5MTZfMTAw%2FMDAxNTM3MDMzMTE3NDQw.9jPKprRN1BSOs6UPxQ6Ody7WOT_mmrIWa_qQwpCcoVog.dVX8E2IrnI_PL5ZaMVDmMP0xNyiWmdF6lawiayxClmMg.JPEG.ejs4082%2Fnya-16.jpg&type=ofullfill340_600_png);
  background-size: cover;
  background-position: center;
  filter: brightness(100%) saturate(2);
  padding: 1px;
}
.title {
  color: white;
  font-size: 35px;
  margin-top: 100px;
  margin-left: 50px;
}
.body {
  color: white;
  font-size: 35px;
  margin-top: 100px;
  margin-left: 50px;
  font-weight: 700;
  font-size: 20px;
}
